<div *ngIf="lessons$ | async as lessons; else loading">
  <div  *ngFor="let lesson of lessons" class="list-group">
      <ul class="list-group">
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-1"><img [src]="lesson.subjectPhotoUrl" alt=""></div>
              <div class="col-sm-6">
                <h5>{{lesson.title}}</h5>
                <div>{{lesson.description}}</div>
              </div>
              <div class="col-sm-3"><img [src]="lesson.instructorPhotoUrl" alt=""> {{lesson.instructorName}}</div>
              <div class="col-sm-2">{{lesson.time | date:'short'}}</div>
            </div>
          </li>
        </ul>
  </div>
</div>
<ng-template #loading>
  Loading lessons...
</ng-template>